@using Microsoft.AspNet.Identity
@model Internship.ViewModels.ManageModel

@{
    ViewBag.Title = "ChangePassword";
}  
 

<ul class="nav nav-tabs">
    <li>@Html.ActionLink("Profiel", "EditProfile", new { id = User.Identity.GetUserId() })</li>
    <li class="active"><a href="#">Beveiliging</a></li>
</ul>   
    
<h2>Wijzig paswoord</h2>
<div>
    @Html.Partial("_ChangePassword",Model)
</div>
