@using Internship.Models.Domain
@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc
@model IPagedList<Internship.Models.Domain.Opdracht>

@{
    Layout = "_BedrijfLayout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>

            <h1>@ViewBag.Title</h1>

            <p>
                <a href=@Url.Action("AddOpdracht", "Bedrijf", new { id = User.Identity.GetUserId() })><span class="glyphicon glyphicon-plus"></span> Nieuwe opdracht</a>
            </p>
        </div>
        <div id="opdrachten">
            @Html.Partial("_OpdrachtenListPartial",Model)
        </div>

    </body>
</html>