@model PagedList.IPagedList<Internship.Models.Domain.Opdracht>

@{
    ViewBag.Title = "Favorites";
    Layout = "~/Views/StageBegeleider/_StageBegeleiderLayout.cshtml";
}

<h2>Mijn Favorieten</h2>

<div id="stages">
    @Html.Partial("_StagesPart",Model)
</div>
