@model PagedList.IPagedList<Internship.Models.Domain.Opdracht>

@{
    ViewBag.Title = "Favorieten";
}

<h2>Mijn favorieten</h2>

<div id="Stages" style="margin-top: 10px">
    @Html.Partial("_StagesPart", Model)
</div>



