@using Internship.Models.Domain
@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc
@model IPagedList<Internship.Models.Domain.Opdracht>

@{
    ViewBag.Title = "Index";
}

<div class="alert alert-success" style="display: none" id="added"></div>
<div>
    <h1>Welkom</h1>
</div>


@using (Ajax.BeginForm("Index", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "Get",
    UpdateTargetId = "Stages",
    OnSuccess = "clearSearch"
}))
{
    <input type="search" name="search" id="search"/>
    <input type="submit" value="Zoeken" class="btn btn-primary"/>
}

<div id ="Stages" style="margin-top: 10px">
    @Html.Partial("_StagesPart",Model)
</div>